footer {
    background-color: #FFF7BA;
    justify-content: center;

}

.footer_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_name {
    width: 400px;
    height: 52px;
    border: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 15px;
    font-size: 24px;
}

.footer_tel {
    width: 400px;
    height: 52px;
    border: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 15px;
    font-size: 24px;
}

.footer_btn {
    width: 265px;
    height: 52px;
    border: solid #000000 2px;
    background-color:#FFF7BA;
    border-radius: 9px;
    font-size: 20px;
}

.footer_btn:hover{
    background-color:#ffffff;
}

.footer_nav{
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer_nav_list{
    margin-right: 90px;
}